In [1]:
from functools import reduce
import pandas as pd
from random import sample

In [2]:
mult = lambda x, y: x * y

# IRA: Indicador de recarga de acuifero, rango [1, 5]
# W: Porderadores de las variables (Resultado de procesar encuestas expertos), rango [, ]
# V: Valores de las variables para un lugar dado, rango [, ]
def IRA(W, V):
    return sum(map(mult, W, V))

In [3]:
# Genera nombres para columans e indices
def var_list(prefix, n):
    return [prefix + str(x + 1) for x in range(n)]

In [4]:
# Genera resultado encuesta de un experto para n variables
def expert_survey(n):
    return sample(range(1, n+1), n)

In [5]:
# Genera resultados de encuesta de m expertos para n varibles 
def data_survey(n=13, m=10):
    # Genera un DataFrame vacio
    df = pd.DataFrame(pd.np.nan, index=var_list('v', n), columns=var_list('expert', m))
    # Rellena encuesta con resultados aleatorios
    for column in df:
        df[column] = expert_survey(n)
    return df

In [6]:
df = data_survey(13, 10)
df

,expert1,expert2,expert3,expert4,expert5,expert6,expert7,expert8,expert9,expert10
v1,2,9,7,7,8,8,9,2,7,12
v2,3,6,10,6,3,1,4,11,3,13
v3,13,10,12,3,7,3,8,8,11,1
v4,9,3,6,8,12,4,13,10,5,6
v5,11,12,1,9,1,10,10,1,12,4
v6,5,1,9,4,5,6,7,4,1,5
v7,10,5,11,5,11,9,6,6,13,11
v8,8,13,5,10,4,7,2,7,9,2
v9,4,2,8,11,6,13,11,5,4,8
v10,6,7,13,2,13,11,1,13,2,10
v11,7,11,3,12,2,12,5,3,6,9
v12,12,4,4,13,9,2,3,12,10,7
v13,1,8,2,1,10,5,12,9,8,3

In [7]:
# Guarda encuesta en un excel
df.to_excel('data.xlsx')
# Leer excel guardado
# pd.read_excel('data.xlsx')

In [8]:
def diff(x, y):
    return x - y

def Fc(df):
    aux = pd.DataFrame()
    for index, row in df.iterrows():
        k = df.apply(lambda row: diff(row, df.loc[index,:]), axis=1)
        l = k.mask(k > 0, 1).where(k > 0, 0)
        aux[index] = l.apply(sum)
    return aux.T

In [9]:
Fc(df)

,expert1,expert2,expert3,expert4,expert5,expert6,expert7,expert8,expert9,expert10
v1,11,4,6,6,5,5,4,11,6,1
v2,10,7,3,7,10,12,9,2,10,0
v3,0,3,1,10,6,10,5,5,2,12
v4,4,10,7,5,1,9,0,3,8,7
v5,2,1,12,4,12,3,3,12,1,9
v6,8,12,4,9,8,7,6,9,12,8
v7,3,8,2,8,2,4,7,7,0,2
v8,5,0,8,3,9,6,11,6,4,11
v9,9,11,5,2,7,0,2,8,9,5
v10,7,6,0,11,0,2,12,0,11,3
v11,6,2,10,1,11,1,8,10,7,4
v12,1,9,9,0,4,11,10,1,3,6
v13,12,5,11,12,3,8,1,4,5,10

In [10]:
def Wt(df):
    return df.apply(sum, axis=1) / reduce(mult, df.shape)

In [11]:
# Calcula pesos relativos
Wt_ = Wt(Fc(df))

In [12]:
# Calcula ponderaciones
W = Wt_ / sum(Wt_)
W

v1     0.075641
v2     0.089744
v3     0.069231
v4     0.069231
v5     0.075641
v6     0.106410
v7     0.055128
v8     0.080769
v9     0.074359
v10    0.066667
v11    0.076923
v12    0.069231
v13    0.091026
dtype: float64

In [13]:
sum(W)

0.99999999999999989

In [14]:
# Guardar a Excel
W.to_excel('W.xlsx', header=['W'])
# Leer desde Excel
# pd.read_excel('W.xlsx')

In [15]:
IRA(W, W)

0.078938198553583139